body{
    margin: 0;
    font-size: clamp(1rem, 1.2vw, 6rem);
}
#headline {
    font-size: clamp(1rem, 5vw, 2rem);
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center-align the text */
  }

#slide-container {
    width: 75%;
    height: 80%;
    position: absolute;
    left: 50%;
    top: 10%;
    transform: translateX(-50%);
    align-items: center;


    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
  }
  
  /* Styling for each slide (current-slide) */
#current-slide {
    padding-top: 20px; 
    position: relative;
    overflow: auto;
    height: 85%;
}

#slide-container.final {
    top: 5%;
    left: 55%;
}

#slide-container.start {
    width: 30%;
    height: 50%;
}

#slide-container.start label {
    display: block;
    margin-bottom: 5px;
    margin-top: 10px; /* Add some vertical space between labels */
}

.Table {
    border-collapse: collapse;
    border-spacing: 10px; 
    width: 100%;
    overflow: visible;
    text-align: center;
}
.Table td {
    padding: 10px;
}

.Table thead tr {
    background-color: #eee;
}
.Table th {
    padding: 10px; /* Adjust the padding to increase space */
}

.Table tbody tr:nth-child(even) {
    background-color: #f2f2f2; /* Set the background color for odd rows in tbody */
}

.Table td:first-child {
  text-align: left;
}

.Table td:last-child {
    padding-right: 7%;
    text-align: right;
  }



input[type="number"] {
    font-size: 1.2rem;
    width: 50%;
    box-sizing: border-box;
    padding: 5px;
}

#Summary {
    width: 30%;
    margin: 0 auto; /* Center the table horizontally */
}

#Summary td {
    text-align: center;
}


#table-container {
    display: flex;
    align-items: flex-start; 
    padding-top: 5%;
    gap: 7%; 
}
  
#Pilir1 {
    flex: 30%;
    align-self: flex-start; 
    text-align: left;
}
#Pilir2 {
    flex: 50%;
    align-self: flex-start; 
    text-align: left;
  }

.tableName {
    text-align: center; /* Center the text horizontally */
    padding-bottom: 15px; /* Add padding below the text */
    font-size: 1.7rem; 
  }


#Titul_jmeno:hover {
    opacity: 0.6;
    text-decoration: underline;
}

#Titul_jmeno:hover + span {
    display: block;
    color: #6b6b6b;

    position: absolute;
    background-color: #f5f5f5;
    color: #333;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    z-index: 1;
    cursor: pointer; 
}

.titul > span {
    display: none;
}

button {
    position: absolute;
    padding: 20px 30px; /* Adjust the values to make the button larger */
    font-size: 20px; 
    border-radius: 5px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.7; 
}

.next-button-class {
    top: 40%;
    right: 3%;
}

.prev-button-class {
    top: 40%;
    left: 3%;
}
.start-button-class {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;
    z-index: 999;
    bottom: 10%;   
}

#progress {
    width: 0;
    height: 20px;
    background-color: skyblue;
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
      transform: translateX(-55%);
    }
    100% {
        opacity: 1;
      transform: translateX(-50%);
    }
}

@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-45%);
    }
    100% {
        opacity: 1;
        transform: translateX(-50%);
    }
}
  
.slideRight {
    animation: slideInFromRight 0.5s ease;
  }

.slideLeft {
    animation: slideInFromLeft 0.5s ease;
}



/* Media query for even smaller screen sizes */
@media (max-width: 700px) {
    #slide-container {
        width: 96%;
        height: 100vh;
        top: 15%;
    }
    .next-button-class {
        top: 5%;
        right: 3%;
    }
    
    .prev-button-class {
        top: 5%;
        left: 3%;
    }
}